body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../images/DSC_4856.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
